
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">


    <ul>
      <li><a href="<%= root_path %>"/>Home</a></li>
      <li><a href="<%= signout_path %>"/>Logout</a></li>
    </ul>


   </div>
   <div class="navbar-collapse collapse">
     <ul class="nav navbar-nav">
     </ul>
   </div><!--/.nav-collapse -->
 </div>
</div>

  <% @subject = Subject.find(params[:subject_id])%>
  <h1><%= @subject.name %></h1>
  <h2>Add a new assignment</h2>


  <%= form_for [@subject, @assignment] do |f|  %>
    <%= f.label :assignment_type, "Select Assignment Type"%><br><br>
    <%= f.radio_button(:assignment_type,  "HW") %>HW<br><br>
    <%= f.radio_button(:assignment_type,  "Project") %>Project<br><br>
    <%= f.radio_button(:assignment_type,  "Test") %>Test<br><br>
    <%= f.radio_button(:assignment_type,  "Quiz") %>Quiz<br><br>

    <%= f.label :assignment_name, "Assignment name: "%>
    <%= f.text_field :name %></br></br>

    <%= f.label :assignment_note, "Assignment notes: "%><br>
   <%= f.text_area :notes %></br></br>


    <%= f.submit "Create Assignment"%>
  <% end %>
