
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">


    <ul>
      <li><a href="<%= root_path %>"/>Home</a></li>
      <li><a href="<%= signout_path %>"/>Logout</a></li>
    </ul>


   </div>
   <div class="navbar-collapse collapse">
     <ul class="nav navbar-nav">
     </ul>
   </div><!--/.nav-collapse -->
 </div>
</div>

<h1><%= @assignment.subject.name %> - <%= @assignment.assignment_type%></h1>

  <strong>Teacher: </strong>
    <%= @user.name %><br>

<strong>Assignment weight:</strong> <%= @assignment.weight %><br>
<strong>Assignment Details:</strong> <%= @assignment.name %><br>
<%= @assignment.notes %>

<%= button_to "Submit Assignment", {controller: "students_assignments", action: "create", assignment_id: @assignment.id} %>
