
<h1><%= @assignment.subject.name %> - <%= @assignment.assignment_type%></h1>

  <strong>Teacher: </strong>
    <%= @user.name %><br>

<strong>Assignment weight:</strong> <%= @assignment.weight %><br>
<strong>Assignment Details:</strong> <%= @assignment.name %><br>
<%= @assignment.notes %>
