<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">

    <ul>

      <li><a class="navbar-link" href="<%= user_path(@user) %>"/>Back</a></li>
      <li><a class="navbar-link" href="<%= root_path %>"/>Home</a></li>
      <li><a class="navbar-link" href="<%= signout_path %>"/>Logout</a></li>
    </ul>

   </div>
  </div>
</div>


<h2>Courses and Students </h2>
<h2>by: <%= @user.name %></h2>

<% @subjects.each do |subject| %>
  <h3><%= subject.name %></h3>
  <% subject.students.each do |student| %>
  <ul >
    <li >
      <%= student.name %>
    </li>
  </ul>
  <% end %>
<% end %>
