<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">


    <ul>
      <li><a href="<%= root_path %>"/>Home</a></li>
      <li><a href="<%= signout_path %>"/>Logout</a></li>
    </ul>


   </div>
   <div class="navbar-collapse collapse">
     <ul class="nav navbar-nav">
     </ul>
   </div><!--/.nav-collapse -->
 </div>
</div>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:
      </h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <%= f.label :first_name %>
      <br>
      <%= f.text_field :first_name, class: "form-control" %>
    </div>
    <br>

    <div class="form-group">
      <%= f.label :last_name %>
      <br>
      <%= f.text_field :last_name, class: "form-control" %>
    </div>
    <br>

    <div class="form-group">
      <%= f.label :email %>
      <br>
      <%= f.text_field :email, class: "form-control" %>
    </div>
    <br>

  <div class="form-group">
    <%= f.label :password %>
    <br>
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <br>

  <div class="form-group">
    <%= f.label :admin, "Check box if you are an Administrator" %>
    <%= f.check_box :admin, class: "form-check-input" %>
  </div>
  <br>


  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>


  <% end %>
