<p id="notice"><%= notice %></p>

<% if @message %>
  <div class="center alert">
    <p><%= @message %></p>
  </div>
<% end %>

<div class="center">

  <div class="info">
    <% if @user.admin %>
      <p><strong>TEACHER</strong></p>
    <% end %>
    <p><strong>Name:</strong> <%= @user.name %></p>

    <p><%= link_to 'Edit', edit_user_path(@user) %></p>
    <p><%= link_to 'See all assignments', works_index_path %></p>
  </div>
</div>
