
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">


    <ul>
      <li><a class="navbar-link" href="<%= login_path %>"/>Back</a></li>
      <li><a class="navbar-link" href="<%= root_path %>"/>Home</a></li>
      <li><a class="navbar-link" href="<%= signout_path %>"/>Logout</a></li>
    </ul>


   </div>
   <div class="navbar-collapse collapse">
     <ul class="nav navbar-nav">
     </ul>
   </div><!--/.nav-collapse -->
 </div>
</div>
<% if session[:user_id] %>
  <% @student = Student.find(session[:user_id])%>
  <h1><%= @student.name %></h1>

  <h2><%= @student.email %></h2>


<% else %>
  <% redirect_to root_path %>
<% end %>

<br>
<h3>What would you like to do?</h3><br>

<%= link_to('See all your courses', student_subjects_path(@student))  %><br>
