

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">

    <ul>
      <% if params.has_key? "user_id" %>
        <li><a class="navbar-link" href="<%= user_path(@user) %>"/>Back</a></li>
      <% elsif params.has_key? "student_id"%>

        <li><a class="navbar-link" href="<%= student_path(@student) %>"/>Back</a></li>
      <% end %>
      <li><a class="navbar-link" href="<%= root_path %>"/>Home</a></li>
      <li><a class="navbar-link" href="<%= signout_path %>"/>Logout</a></li>
    </ul>

   </div>
  </div>
</div>
<% if flash[:notice] %>
    <h2><div class="notice"><%= flash[:notice] %></div></h2>
  <% end %>

<% if params.has_key? "user_id" %>
  <% @user = User.find(params[:user_id]) %>
  <h1>All Subjects taugt by: <%= @user.name %></h1>
  <% @user.subjects.each do |subject| %>
    <p>Course: <%= subject.name %></p>
    <p>Description: <%= subject.description %></p>
  <%= link_to('Add Assignment', new_subject_assignment_path(subject))  %><br><br>
  <% end %>
<% elsif params.has_key? "student_id"%>
  <% @student = Student.find(params[:student_id]) %>
  <h1>All Courses taken by: <%= @student.name %></h1>
  <% @student.subjects.each do |subject| %>
  <br>
    <p><strong>Course: </strong><%= subject.name %></p>
    <p><strong>Description: </strong><%= subject.description %></p>

    <% subject.assignments.order(:assignment_type).each do |assignment|%>

      <input type="button" class="assignment-data" assignid="<%= assignment.id %>" subjectid="<%= subject.id %>" >
      <%= assignment.assignment_type %>
      <%= assignment.created_at.strftime("%m/%d/%Y") %><br>
    <div id="<%= assignment.id %>"></div>
    <% end %>

  <% end %>

<% else %>
  <% redirect_to login_path %>
<% end %>
