<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">


    <ul>
      <li><a class="navbar-link" href="<%= user_subjects_path %>"/>Back</a></li>
      <li><a class="navbar-link" href="<%= root_path %>"/>Home</a></li>
      <li><a class="navbar-link" href="<%= signout_path %>"/>Logout</a></li>
    </ul>


   </div>
   <div class="navbar-collapse collapse">
     <ul class="nav navbar-nav">
     </ul>
   </div><!--/.nav-collapse -->
 </div>
</div>

<p><strong><%= @subject.name %></strong></p><br>
<%= @subject.description %><br>

<% @subject.assignments.order(:assignment_type).each do |assignment|%>
  <%= assignment.assignment_type %>        <%= assignment.created_at.strftime("%m/%d/%Y") %><br>
  <%= assignment.name %><br>
  <%= assignment.notes%><br><br>
<% end %>
