<!DOCTYPE html>
<html>
  <head>
    <title>SchoolGrades</title>
    <style type="text/css">
      ul{
        list-style-type: none;
        margin:0;
        padding:0;
        overflow:hidden;
      }

      li{
        float: left;
      }
    </style>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>


    <%= yield %>
  </body>
</html>
